.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container > .item {
    margin: 5px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 12px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    
}

.words {
    width: 250px;
    margin: auto;
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
}

@media (min-width: 425px ) {
    img {
        width: 250px;
       
    }
    
    .words {
        width: 250px;
        margin: auto;
    }
}